
.Header{
    display: flex;
    font-size: 24px;
    font-family: sans-serif;
    list-style: none;
    margin-top: 0%;
}

.Header li{
    padding: 0.5% 3%;
    background-color: aquamarine;
    border-radius: 0% 0% 35% 35%;
    margin: 0% 0.2%;
    
}

.Header a{
    text-decoration: none;
}
