.introduction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "EB Garamond";
}

.profile-image{
    width: 50vw;
    height: 80vh;
    border-radius: 20%;
}

.Iam, .Name, .Software{
    text-align: left;
    font-size: 36px;
    
    
}

.first{
    font-size: min(80px,10vw);
    margin-bottom: 0%;
    margin-top: 0%;
}
.surname{
    font-size: min(80px,10vw);
    margin-top: 0%;
}

.Software{
    letter-spacing: 1.5vw;
    font-size: 24px;
    font-family: sans-serif;
    
}

@media(max-width: 600px){
    .profile-image{
        display: none;
    }
}