.Academic-div{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin: 2vh;
   
}
.marks-div{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0px 8px 16px gray;
    padding: 5% 1%;
    
}
.Academic-div h2{
    margin: 0;
    font-family: "EB Garamond";
    /* text-shadow: 0px 1px 2px rgb(201, 183, 181); */
    background: #182340;
    background-clip: text;
    color: transparent;
    
}
.academic{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    letter-spacing: 1vh;
    align-self:center;
    font-family: "EB Garamond";

}



.percentage{
    font-size: 64px;
    /* margin: 0%; */
    
}
.percentage span{
    font-size: 24px;
    /* margin: 0%; */
}